{% extends 'wiki/base.html' %}

{%block content%}
<div class="row">
<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>
    <div class="col-xs-4 col-sm-3 col-md-3 col-lg-3">
  <form  action="{% url 'register_view'%}" method="post" accept-charset="utf-8">
    {{ form.as_p }}
    {% csrf_token %}
    
        <div class="form-group has-success"> 
            <input type="hidden" name="next" value="{{ next }}" href="/">
    
        <input class="btn btn-default" type="submit" value="Register" ></input>
    </div>
  </form>

  </div>
</div>
{% endblock %}
