{% extends 'wiki/base.html' %}

{%block content%}
<div class="row justify-content-center">
<div class="col-xs-4 col-sm-3 col-md-3 col-lg-3">
  <form  action="{% url 'register_view'%}" method="post" accept-charset="utf-8">
    {{ form.as_table }}
    {% csrf_token %}
    
        <div class="form-group has-success"> 
            <input type="hidden" name="next" value="{{ next }}" href="/">
    
        <input class="btn btn-outline-success" type="submit" value="Register"/>
    </div>
  </form>

  </div>
</div>
{% endblock %}
