{% extends 'wiki/base.html' %}
{% load markdown_tags %}

{% block content %}
<div class="row" style="background-color: #f8f9fa;">
{% with page_list as pages %}
	{% if pages %}
		{% for page in pages %}
			<div class="col-lg-3 col-sm-10 py-2 py-md-5 bg-light">
				<div class="col">
				  <div class="card shadow-sm">
					<div class="card-body">
						<h2>
							<a href="{% url 'page_detail' slug=page.slug %}">{{page.title}}</a>
						</h2>
					  <p class="card-text">
						  {{ page.description | markdown_to_html | safe }}
					  </p>
					  <div class="d-flex justify-content-between align-items-center">
						<div class="btn-group">
						  <a href="{% url 'page_detail' slug=page.slug %}" type="button" class="btn btn-sm btn-outline-secondary">View</a>
					        {% if user.is_authenticated %}<a href="{% url 'page_update' slug=page.slug %}" type="button" class="btn btn-sm btn-outline-secondary">Edit</a>{% endif %}
						</div>
						<small class="text-muted">{{ page.read_estimate }}</small>
					  </div>
					</div>
				  </div>
				</div>
		  	</div>
		{% endfor %}
		{%else%}
		<p style="margin-top: 20px;"> no Pages available</p>
		{%endif%}
{% endwith %}
</div>

{% endblock %}

