{% extends 'wiki/base.html' %}
{% load markdown_tags %}

{% block content %}
<div class="col-md-10 offset-md-1">
    <!--<h1>New post</h1>-->
		<div class="post_edit">
			<form method="POST" class="post-form">{% csrf_token %}
				{% if form.errors %}
					{% for field in form %}
						{% for error in field.errors %}
							<div class="alert alert-danger">
								<strong>{{ error|escape }}</strong>
							</div>
						{% endfor %}
					{% endfor %}
					{% for error in form.non_field_errors %}
						<div class="alert alert-danger">
							<strong>{{ error|escape }}</strong>
						</div>
					{% endfor %}
				{% endif %}
			<div class="mb-3">
				<label for="title">Title:</label><span>{{ form.title }}</span>
				<label for="slug">Slug:</label>
				<span>{{ form.slug }}</span>
			</div>
			<div class="mb-3">
			  <div class="col">
				<label for="description">Meta Description:</label>
				<span>{{ form.description }}</span>
			  </div>
			</div>
			<div class="mb-3">
			  <div class="col">
				<label for="is_published">Published?</label>
				<span>{{ form.is_published }}</span>
			  </div>
			</div>
			<div class="mb-3">
				{{ form.content }}
			</div>
                <button type="submit" class="save btn btn-outline-success">Save</button>

			</form>

		</div>
    </div>
{% endblock %}


