{% load staticfiles %}
<!doctype html>
    <head>
        <title>TimeDev Wiki</title>
       <!-- <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
       <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
       <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'> -->
        <link rel="stylesheet" href="{% static 'css/wiki.css' %}">
        <script type="text/javascript" src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>
        <script type="text/javascript" src="{% static 'ckeditor/ckeditor-init.js' %}"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {{form.media}}
    </head>
    <body>
    <div class="page-header">
    
        {% if user.is_authenticated %}
                <a>Welcome, {{ user.username }}. Thanks for logging in.
                <a href="/logout" style="font-size: 12pt; color: #ffffff;">Logout</a></a>
        {% else %}
                <a>Welcome, new user. Please log in.
                <a href="/login" style="font-size: 12pt; color: #ffffff;">Login</a></a>
        {% endif %}

      {%if user.is_authenticated %}
        <a href="{% url 'post_new' %}" class="top-menu">Post<!--<span class="glyphicon glyphicon-plus"></span>--></a>
        
      {%endif%}
        <h1><a href="/">TimeDev wiki</a></h1>
    </div>
    <div class="vertical-box">
        <div style="margin-left: 5%;">
            <table class="table">
                    
                        <tr><h3 style="color: #dc7b01;"> Tags</h3></tr> 
                        <tr><h4><a href="/post/list/Python/">Python</a></h4></tr> 
                        <tr><h4><a href="/post/list/Django/">Django</a></h4></tr> 
                        <tr><h4><a href="/post/list/LaTeX/">LaTeX</a></h4></tr> 
                        <tr><h4><a href="/post/list/cpp/">C++</a></h4></tr> 
                        <tr><h4><a href="/post/list/HTML/">HTML</a></h4></tr> 
                        <tr><h4><a href="/post/list/Other">Other</a></h4></tr>
                        <tr><h4><a href="/post/">All</a></h4></tr>
                   
                </table>
            </div>
            <div class="horizontal-box" style="margin-top: 20px;">
            {% block content %}
            {% endblock %}
            </div>
         
    </div>
    </div>
    
</body>

</html>
