{% load static %}
<!doctype html>
    <head>
        <title>Wiki</title>
          <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap-theme.min.css' %}">
        <link href='https://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/wiki.css' %}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {{form.media}}
    </head>
    

      
    <body>

    <nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<div class="navbar-header">
			<li><a class="navbar-brand" href="/">Home</a></li>
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			
			</div>

			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">			
				<ul class="nav navbar-nav navbar-right">
					{% if user.is_authenticated %}
					<li><a  class="btn btn-info btn-xs" href="{% url "page_create" %}" role="button"  ><span class="glyphicon glyphicon-plus" ></span></a></li>
					<li><a href="{% url "logout" %}" style="font-size: 12pt; color: #ffffff;">Logout</a></li>
					{% else %}
					<li><a href="{% url "login" %}" style="font-size: 12pt; color: #ffffff;">Login</a></li>
					{% endif %}
				</ul>
			</div> 
		</div>
	</nav>

<div class="container-fluid">
	<div class="row">
		{% if messages %}
		<ul class="messages">
			{% for message in messages %}
			<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
			{% endfor %}
		</ul>
		{% endif %}
	</div>
    <div class="row">
		<div class="col-md-3" >
		{% comment %}
			<div style="margin-left: 5%;">
				<table class="table">
                    
					<tr><h3 style="color: #dc7b01;"> Tags</h3></tr>
					{% for tag in tags %}
					<tr><h4><a href="/posts/list/{{ tag.name }}">{{ tag.name }}</a></h4></tr>
                   {% endfor %}
					<tr><h4><a href="/posts/">All</a></h4></tr>
				</table>
            </div>
		{% endcomment %}
		</div>
		
            {% block content %}
            {% endblock %}
	</div>
	</div>
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{% static 'js/bootstrap.js' %}"></script>
  </body>
</html>
