{% load static %}
<!doctype html>
    <head>
        <title>Wiki</title>
          <!-- Latest compiled and minified CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
        <link href='https://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/wiki.css' %}">
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
		<meta name="google-site-verification" content="sj-k5QplzHrskEJOc9IC7Jgns_EH0AOOwAtahvT3bAY" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {{form.media}}
		{% block header %}{% endblock %}
    </head>
    <body>
    <header class="p-3 bg-dark text-white">
	  <div class="container">
		<div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
		  <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
			<li><a href="/wiki" class="nav-link px-2 text-white">Home</a></li>
		  </ul>

		  <div class="text-end">
			  {% if request.user.is_authenticated %}
				  <a href="{% url 'logout' %}?next=/" class="btn btn-outline-light me-2">Logout</a>
				  <a href="{% url 'page_create' %}" class="btn btn-outline-dark" style="color: whitesmoke">+</a>
			  {% else %}
				<a href="{% url 'login' %}" class="btn btn-outline-light me-2">Login</a>
				<a href="{% url 'register_view' %}" class="btn btn-warning">Sign-up</a>
			  {% endif %}
		  </div>
		</div>
	  </div>
	</header>

<div class="container-fluid">
	{% if messages %}
	<div class="row">
		<ul class="messages">
			{% for message in messages %}
			<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
			{% endfor %}
		</ul>
	</div>
	{% endif %}
		{% comment %}

		<div class="col-md-3" >
			<div style="margin-left: 5%;">
				<table class="table">
                    
					<tr><h3 style="color: #dc7b01;"> Tags</h3></tr>
					{% for tag in tags %}
					<tr><h4><a href="/posts/list/{{ tag.name }}">{{ tag.name }}</a></h4></tr>
                   {% endfor %}
					<tr><h4><a href="/posts/">All</a></h4></tr>
				</table>
            </div>
		</div>
		{% endcomment %}

            {% block content %}
            {% endblock %}
	</div>
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
  </body>
</html>
